<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hachimen.charsys.mapper.ChrConfigMapper">
    
    <resultMap type="ChrConfig" id="ChrConfigResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
        <result property="remark"    column="remark"    />
        <result property="ord"    column="ord"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectChrConfigVo">
        select id, type, name, value, remark, ord, is_delete, update_user, update_time from chr_config
    </sql>

    <select id="selectChrConfigList" parameterType="ChrConfig" resultMap="ChrConfigResult">
        <include refid="selectChrConfigVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>
            <if test="ord != null  and ord != ''"> and ord = #{ord}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectChrConfigById" parameterType="Long" resultMap="ChrConfigResult">
        <include refid="selectChrConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertChrConfig" parameterType="ChrConfig">
        insert into chr_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="value != null and value != ''">value,</if>
            <if test="remark != null">remark,</if>
            <if test="ord != null">ord,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="updateUser != null and updateUser != ''">update_user,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="value != null and value != ''">#{value},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ord != null">#{ord},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="updateUser != null and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateChrConfig" parameterType="ChrConfig">
        update chr_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="value != null and value != ''">value = #{value},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="ord != null">ord = #{ord},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChrConfigById" parameterType="Long">
        delete from chr_config where id = #{id}
    </delete>

    <delete id="deleteChrConfigByIds" parameterType="String">
        delete from chr_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>