<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hachimen.charsys.mapper.ClientDownloadMapper">

    <sql id="getClientDownloadUpdateVersion">
        select id, type, name, value, remark, ord, is_delete, update_user, update_time from chr_config
    </sql>


</mapper>